In [32]:
import pandas as pd
import numpy as np
from fda_food_events_api import food_events

In [31]:
# Getting the data by using the food_events function
df = food_events(1000)
df.head()

,report_number,outcomes,date_created,reactions,consumer_age,consumer_age_unit,consumer_gender,product_role,product_name_brand,product_industry_code,product_industry_name
0,174513,Other Outcome,20140311,DIARRHOEA,31,year(s),Female,SUSPECT,"ORGANIC WHOLE CASHEWS, UNSALTED",23,Nuts/Edible Seed
0,174513,Other Outcome,20140311,NAUSEA,31,year(s),Female,SUSPECT,"ORGANIC WHOLE CASHEWS, UNSALTED",23,Nuts/Edible Seed
0,174513,Other Outcome,20140311,DIARRHOEA,31,year(s),Female,CONCOMITANT,VITAMIN B6,54,Vit/Min/Prot/Unconv Diet(Human/Animal)
0,174513,Other Outcome,20140311,NAUSEA,31,year(s),Female,CONCOMITANT,VITAMIN B6,54,Vit/Min/Prot/Unconv Diet(Human/Animal)
1,177200,Other Serious or Important Medical Event,20140617,ABDOMINAL PAIN UPPER,58,year(s),Female,SUSPECT,PURITAN'S PRIDE MILK THISTLE EXTRACT 1000MG RA...,54,Vit/Min/Prot/Unconv Diet(Human/Animal)

#  Initial EDA

In [84]:
# data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6030 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   report_number          6030 non-null   object
 1   outcomes               6030 non-null   object
 2   date_created           5415 non-null   datetime64[ns]
 3   reactions              6030 non-null   object
 4   consumer_age           5415 non-null   Int64
 5   consumer_age_unit      6030 non-null   object
 6   consumer_gender        6030 non-null   object
 7   product_role           6030 non-null   object
 8   product_name_brand     6030 non-null   object
 9   product_industry_code  6030 non-null   object
 10  product_industry_name  6030 non-null   object
dtypes: Int64(1), datetime64[ns](1), object(9)
memory usage: 571.2+ KB

In [83]:
# Defining Data Types
df['report_number'] = df['report_number'].astype(str)
df['outcomes'] = df['outcomes'].astype(str)
df['date_created'] = pd.to_datetime(df['date_created'])
df['reactions'] = df['reactions'].astype(str)
df['consumer_age'] = df['consumer_age'].astype('Int64')
df['consumer_age_unit'] = df['consumer_age_unit'].astype(str)
df['consumer_gender'] = df['consumer_gender'].astype(str)
df['product_role'] = df['product_role'].astype(str)
df['product_industry_code'] = df['product_industry_code'].astype(str)
df['product_industry_name'] = df['product_industry_name'].astype(str)

In [45]:
# Dataset shape
print(f'There are {df.shape[0]} rows and {df.shape[1]} columns in tha dataset\n')


# Missing data
print('Missing Data (%) by column:')
print(round(df.isnull().sum() / df.shape[0] * 100, 2))

There are 6030 rows and 11 columns in tha dataset

Missing Data (%) by column:
report_number            10.2
outcomes                 10.2
date_created             10.2
reactions                10.2
consumer_age             10.2
consumer_age_unit        10.2
consumer_gender          10.2
product_role              0.0
product_name_brand        0.0
product_industry_code     0.0
product_industry_name     0.0
dtype: float64

In [46]:
#  Number of unique values by column
for col in df.columns:
    print(f'{col} has {df[col].nunique()} unique values')

report_number has 597 unique values
outcomes has 12 unique values
date_created has 517 unique values
reactions has 646 unique values
consumer_age has 123 unique values
consumer_age_unit has 3 unique values
consumer_gender has 3 unique values
product_role has 2 unique values
product_name_brand has 611 unique values
product_industry_code has 27 unique values
product_industry_name has 25 unique values

__Outcomes__

In [96]:
df['outcomes'].value_counts()

outcomes
Other Serious or Important Medical Event    1640
Hospitalization                             1051
Visited a Health Care Provider               683
Visited Emergency Room                       664
nan                                          615
Other Outcome                                400
Death                                        320
Life Threatening                             211
Disability                                   189
Other Serious Outcome                        163
Required Intervention                         84
Congenital Anomaly                             9
Allergic Reaction                              1
Name: count, dtype: int64